* {
  font-family: 'Roboto', sans-serif;
}

body {
  position: relative;
}

.ant-btn {
  border-radius: 5px !important;
}

.ant-drawer-body {
  padding: 0 !important;
}
.ant-pagination-item-link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ant-table-cell {
  @media only screen and (max-width: 768px) {
    padding: 8px !important;
  }
}
.ant-form-inline .ant-form-item {
  @media only screen and (max-width: 1024px) {
    margin: 8px !important;
  }
}